<div class="layout">

  <!-- TABLE -->
  <div class="table-card">

    <div class="header">
      <div>
        <h2>📦 Produits</h2>
        <p>Gestion des produits</p>
      </div>

      <button class="btn-primary" (click)="openAddForm()">
        ➕ Ajouter
      </button>
    </div>

    <!-- SEARCH -->
    <div class="search-box">
      <input
        type="text"
        placeholder="🔍 Rechercher..."
        (input)="onSearch($event.target.value)"
      />
    </div>

    <!-- TABLE -->
    <table>

      <thead>
        <tr>
          <th>#</th>
          <th>Libellé</th>
          <th>Prix</th>
          <th>Catégorie</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of (filteredProducts$ | async)">

          <td>{{ p.id }}</td>

          <td class="label">
            {{ p.nom }}
          </td>

          <td>
            {{ p.prixAchat }} TND
          </td>

          <td>
            <span class="badge">
              {{ getCategoryName((categories$ | async)!, p.categorieId) }}
            </span>
          </td>

          <td class="actions">
            <button class="edit" (click)="openEditForm(p)">✏️</button>
            <button class="delete" (click)="delete(p.id)">🗑️</button>
          </td>

        </tr>
      </tbody>

    </table>

  </div>

  <!-- FORM -->
  <div class="form-card" *ngIf="showForm">

    <h3>
      {{ editMode ? 'Modifier produit' : 'Ajouter produit' }}
    </h3>

    <input type="text" placeholder="Libellé" [(ngModel)]="form.nom">

    <input type="text" placeholder="Description" [(ngModel)]="form.description">

    <input type="number" placeholder="Prix" [(ngModel)]="form.prix">
       
        <input type="number" placeholder="Nombre d'unités" [(ngModel)]="form.nbUnite">

    <select [(ngModel)]="form.categorieId">
      <option value="0">-- Catégorie --</option>
      <option *ngFor="let c of (categories$ | async)" [value]="c.id">
        {{ c.nom }}
      </option>
    </select>

    <div class="form-actions">
      <button class="btn-primary" (click)="save()">💾 Sauvegarder</button>
      <button class="btn-secondary" (click)="closeForm()">Annuler</button>
    </div>

  </div>

</div>